<p id="notice"><%= notice %></p>

<h1>Colegiados</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Codigo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @colegiados.each do |colegiado| %>
      <tr>
        <td><%= colegiado.nome %></td>
        <td><%= colegiado.codigo %></td>
        <td><%= link_to 'Show', colegiado %></td>
        <td><%= link_to 'Edit', edit_colegiado_path(colegiado) %></td>
        <td><%= link_to 'Destroy', colegiado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Colegiado', new_colegiado_path %>
