<h1><%= @colegiado.nome %></h1>

<p id="notice"><%= notice %></p>

<p>
  Mesa atual: <b><%= @mesa_atual.nome if @mesa_atual %></b> <%= link_to 'alterar', mesas_path %>
</p>

<p>
  <strong>Aluno na mesa:</strong>
  <span style="color: blue;"><%= @vaga&.posicao %> <%= @vaga&.aluno&.title %> - <%= @vaga&.codigo %></span>
  <% if @vaga %>
    <%= link_to 'Desvincular', colegiado_esvazia_mesa_path, method: :put %>
  <% end %>
</p>

<br>

<div>
  <%# link_to 'Anterior', colegiados_anterior_path(@colegiado), method: :put %>
  <%= link_to 'Chama próximo', colegiados_proximo_path(@colegiado), method: :put, class: 'button' %>
</div>

<br><br><br>

<%= link_to 'Edit', edit_colegiado_path(@colegiado) %> |
<%= link_to 'Back', colegiados_path %>
