<script type="text/javascript">
  // https://notificationsounds.com/notification-sounds/pull-out-551
  var audioNotificacao = new Audio('/pull-out.mp3');

  function notificSobreNovoAluno(data) {
    audioNotificacao.play();
    toastr.info("" + data.aluno.nome + " acabou de entrar na fila.");
  }

  function trataInscricao(data) {
    if (data.fila.colegiado.id == <%= @colegiado.id %> && <%= @vaga.nil? ? "true" : "false" %>) {
      notificSobreNovoAluno(data);
    }
  }
</script>

<h1><%= @colegiado.nome %></h1>

<p id="notice"><%= notice %></p>

<p>
  Mesa atual: <b><%= @mesa_atual.nome if @mesa_atual %></b> <%= link_to 'alterar', mesas_path %>
</p>

<p>
  <strong>Aluno na mesa:</strong>
  <span style="color: blue;"><%= @vaga&.posicao %> <%= @vaga&.aluno&.title %> - <%= @vaga&.codigo %></span>
  <% if @vaga %>
    <%= link_to 'Desvincular', colegiado_esvazia_mesa_path, method: :put %>
  <% end %>
</p>

<br>

<div>
  <%# link_to 'Anterior', colegiados_anterior_path(@colegiado), method: :put %>
  <%= link_to 'Chama próximo', colegiados_proximo_path(@colegiado), method: :put, class: 'button' %>
</div>

<br><br><br>

<%= link_to 'Edit', edit_colegiado_path(@colegiado) %> |
<%= link_to 'Back', colegiados_path %>


<script type="text/javascript">
document.addEventListener("turbolinks:load", function () {

  if (<%= @vaga.nil? ? "true" : "false" %>) {
    App.room = App.cable.subscriptions.create("InscricaoChannel", {
      received: trataInscricao
    });
  }

  // para testar no rails console:
  // InscricaoChannel.inscreve({aluno: {nome: 'Fulano de Tal'}, fila: {colegiado: {id: 1}}})
});
</script>