<audio src="" id="tts" hidden></audio>

<script type="text/javascript">
  var audioNotificacao = new Audio('/definite.mp3')
</script>

<div class="header">
  <%= @rodada.descricao %>
</div>

<div class="content">
    <div class="left Aligner">

      <!-- <div class="Aligner-item Aligner-item--top"></div> -->
      <div class="Aligner-item">
        <!-- <h1 id="numero"><%= @rodada.posicao_atual if @rodada %></h1> -->
        <div style="font-size: xx-large;">Sua vez,<br><b><span id="nome"><%= @rodada.aluno_atual.nome if @rodada and @rodada.aluno_atual %></span></b></div>
      </div>
      <!-- <div class="Aligner-item--bottom"></div> -->
    </div>
    
    <div id="proximos" class="right">
      <div class="row"><h1 style="padding-left: 3px;">Próximos da fila</h1></div>
      <% proximos = @rodada.proximos(5) %>

      <% 5.times do |i| %>
        <div class="row"><%= i + 1 %>. <%= proximos[i] ? proximos[i].aluno.nome : '' %></div>
      <% end %>
    </div>
  </div>
        
</div>

<div class="footer Aligner">
  <div class="Aligner-item">
    <% if user_signed_in? %>
      <table>
        <tr>
          <td style="font-size: large;">Para entrar na fila, digite sua <b>matrícula</b> e pressione Enter:</td>
          <td><input type="text" name="matricula" id="matricula" autofocus style="font-size: xx-large; font-weight: bold;"></td>
        </tr>
      </table>
        
      
      
      
      <!-- <button id="btnMatricula">Inscrever</button> -->
    <% else %>
      &nbsp;
    <% end %>
  </div>
</div>

<div id="dialog-confirma" title="Nome adicionado">
  <p>Olá, <b><span class="nome"></span></b>, agora você está na posição <b><span class="posicao"></span></b> da fila.</p>
  <p>Pressione <b>Enter</b> para fechar.</p>
</div>

<div id="dialog-erro" title="Você NÃO foi adicionado">
  <!-- <p>Você <b>não</b> foi adicionado(a) à fila.</p> -->
  <!-- <p>Número digitado: <b><span class="matricula"></span></b></p> -->

  <p style="color: darkred; font-weight: bold;"><span class="mensagem"></span></p>

  <p>Pressione <b>Enter</b> para fechar.</p>
</div>


<script>
  $( function() {
    var options = {
      draggable: false,
      modal: true,
      autoOpen: false,
      width: '60%'
    };
    $("#dialog-confirma").dialog(options);
    $("#dialog-confirma").on('dialogclose', function (event) {
      window.location.reload(true); 
    });
    $("#dialog-erro").dialog(options);
  } );
  </script>

<script type="text/javascript">
  function insereMatricula() {
    var matricula = $("#matricula").val();
    $.post("<%= tela_inscrever_path %>", { matricula: matricula })
      .done(function (data) {
        $("#dialog-confirma .nome").text(data.aluno.nome);
        $("#dialog-confirma .posicao").text(data.posicao);
        $("#dialog-confirma").dialog("open");
       })
      .fail(function (xhr) {
        var data = xhr.responseJSON;
        $("#dialog-erro .mensagem").text('Erro de sistema.');
        if (data) {
          $("#dialog-erro .mensagem").text(data.mensagem);
        }
        $("#dialog-erro .matricula").text(matricula);
        $("#dialog-erro").dialog("open");
      })
      .always(function () { $("#matricula").val(''); });
  }
  $("#btnMatricula").click(insereMatricula);
  $("#matricula").keypress(function (e) {
    if (e.which == 13 || e.keyCode == 13) {
        insereMatricula();
        return false;
    }
    return true;
  });
</script>


<script type="text/javascript">
document.addEventListener("turbolinks:load", function () {

  function blink() {
    var i, interval = 400, times = 6;

    $("#nome").stop(true, true);

    $("#nome").addClass("highlight");
    for (i = 0; i < times; i++) {
      $("#nome").fadeOut(interval);
      $("#nome").fadeIn(interval);
    }
    setTimeout(function () { $("#nome").removeClass("highlight"); }, times * interval * 2);
  }

  function falaNome(nome) {
    // https://www.youtube.com/watch?v=DOtkNxmg9QY
    // Não está funcionando.
    var text = encodeURIComponent(nome);
    var url = "http://translate.google.com/translate_tts?tl=pt-BR&q=" + text + "&client=tw-ob";
    console.log("URL", url);
    $("#tts").attr("src", url).get(0).play();
  }

  function chamaProximo(data) {
    // document.getElementById('numero').innerText = data.posicao_atual;
    document.getElementById('nome').innerText = data.nome_aluno_atual;
    blink();
    audioNotificacao.play();
    falaNome(data.nome_aluno_atual);

    // atualiza lista de próximos
    $("#proximos .row").each(function (idx, elem) {
      if (idx > 0) {
        // skip first row
        if (data.proximos.length > 0) {
          $(elem).text(data.proximos.shift());
        } else {
          $(elem).text('');
        }
      }
    })
  }

  App.room = App.cable.subscriptions.create("TelaoNotificationsChannel", {
    received: function(data) {
      chamaProximo(data);
      console.log(data);
    }
  });

});
</script>