<div class="Aligner">
  <div class="Aligner-item">
    <div style="font-size: xx-large;">
      <p>Olá, <% if @aluno %><%= @aluno.nome %><% end %></p>

      <p>Última senha chamada: <b><%= @vaga&.fila&.vaga_atual&.codigo %></b><br>
      Sua senha na fila: <b><%= @vaga&.codigo %>.</b></p>

      <% if @erro %>
        <%= @erro %>
      <% elsif @posicao_aluno %>
        <% if @posicao_aluno == 0 %>
          <b style="color: blue;">Está na sua vez!</b>
          <p>Dirija-se a <b><%= @mesa&.nome %></b>.</p>
        <% elsif @posicao_aluno == 1 %>
          Você é o(a) próximo(a), aguarde a chamada.
        <% else %>
          Sua posição geral:
          <b style="color: blue;"><%= @posicao_aluno %></b>
        <% end %>
      <% end %>

      <%#
      <p style="font-size: large;">
        <b><a href="javascript: window.location.reload(true);" style="color: #666;">
          Clique para atualizar
        </a></b>
      </p>
      %>
    </div>
  </div>
</div>

<script type="text/javascript">
document.addEventListener("turbolinks:load", function () {

  console.log("turbolinks:load");
  
  App.room = App.cable.subscriptions.create("TelaoNotificationsChannel", {
    received: function(data) {
      console.log("received");
      window.location.reload(true);
    }
  });

});
</script>
