<p id="notice"><%= notice %></p>

<h1>Filas</h1>

<table>
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Nome</th>
      <th>Prioridade</th>
      <th>Ativo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @filas.each do |fila| %>
      <tr>
        <td><%= fila.codigo %></td>
        <td><%= fila.nome %></td>
        <td><%= fila.prioridade %></td>
        <td><%= fila.ativo %></td>
        <td><%= link_to 'Show', fila %></td>
        <td><%= link_to 'Edit', edit_fila_path(fila) %></td>
        <td><%= link_to 'Destroy', fila, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fila', new_fila_path %>
