<% if @output %>
    <p>Resultado da importação:</p>
    <pre>
<%= @output.html_safe %>
    </pre>
<% end %>

<p>
    Cole aqui as matrículas e nomes dos alunos, separados por vírgula ou tabulação, um aluno por linha.
    Exemplo:

    <pre>1234    Fulano de Tal
4321    Sicrana de Tal</pre>

    A seguir, escolha o grupo onde os alunos importados serão adicionados e clique em <tt>Importar</tt>.
</p>

<%= form_tag("/importar", method: "post") do %>
    <p>
        <b>Alunos</b>:<br/>
        <%= text_area_tag :contents, "", size: "80x20" %>
    </p>

    <p>
        <b>Grupo</b>:<br/>
        <%= select_tag :grupo, options_from_collection_for_select(@grupos, "id", "nome"), include_blank: true %>
    </p>

    <p>
        <%= submit_tag "Importar" %>
    </p>
<% end %>