<!DOCTYPE html>
<html>
  <head>
    <title>Sisfila</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, user-scalable=no">
  </head>

  <body>
<!--     <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
    <div class="full">
      <%= yield %>
    </div>

    <!-- <div>
      <% if user_signed_in? %>
        <%= link_to('logout', destroy_user_session_path, method: :delete) %>
      <% else %>
        <%= link_to('login', new_user_session_path) %>
      <% end %>
    </div> -->
  </body>

</html>
